<!-- BEGIN form -->
<div class="form__wrap">
	<form action="./" method="POST" class="form">
			<div class="form__row">
				<input type="text" name="contact_fullname" placeholder="Enter your full name*" required />
			</div>
			<div class="form__row">
				<input type="tel" name="conact_tel" placeholder="Enter your phone number*" required />
			</div>
			<div class="form__row">
				<input type="email" name="contact_email" placeholder="Enter your e-mail*" required />
			</div>
			<div class="form__row">
				<textarea name="use_msg" placeholder="Type your message" rows="7"></textarea>
			</div>

		<button type="submit" class="btn">
			<b><span>Сontact Us</span><span>Сontact Us</span></b>
		</button>
	</form>
</div>
<!-- END form -->