{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_about }}
{{ with $data.homepage.section_about }}
<section class="section section--about">
    <div class="container">

        <div class="row row--1">
            <div>
                <hgroup>
                    <h2 class="subtitle">{{ .suptitle }}</h2>
                    <p class="h2">{{ .title }}</p>
                    <p class="lead">{{ .subtitle }}</p>
                </hgroup>
            </div>
            <div>
                <h3 class="h3">{{ .heading }}</h3>
                <div>
                    {{ .desc | markdownify }}
                </div>
            </div>
        </div>

        <div class="stats">
            {{ range .stat }}
            <div class="stat">
                <div class="stat__val">
                    {{ .val | markdownify }}
                </div>
                <div class="stat__title">
                    {{ .title }}
                </div>
            </div>
            {{ end }}
        </div>


    </div>
</section>
{{ end }}
{{ end }}