<section class="section section--cta">
    <div class="container text--center">
        <hgroup>
            <h2 class="subtitle">
                / cta /
            </h2>
            <p class="h2">
                Inspired by What You’ve Seen?
            </p>
            <p class="lead">
                Contact us today to discuss how we can illuminate your space with creativity and efficiency.
            </p>
            <a href="/contacts" class="btn">
                <b><span>Contact Us</span><span>Contact Us</span></b>
            </a>
        </hgroup>
    </div>
</section>